body{
	margin: 0;
}

.Container{
	width: 100%;
	height: 120%;
	position: absolute;
	margin: 0;
	background-color: #f2f2f2;
}

.SearchBarLayer{				/* Layer 1 */
	height: 4.1%;
	width: 100%;
	background-color: #f2f2f2;
	min-height: 55px;
}

.SearchFilterLayer{				/* Layer 2 */
	background-color: white;
	height: 4.0%;
	width: 100%;
	min-height: 60px;
	border-bottom : 1px solid #ebebeb;
}

.SearchStatLayer{				/* Layer 3 */
	background-color: white;
	height: 2.8%;
	width: 100%;
	min-height: 30px;
}

.ResultListLayer{				/* Layer 4 */
	background-color: white;
	height: 66.0%;
	width: 100%;
}

.RelatedSearchLayer{			/* Layer 5 */
	background-color: white;
	height: 9.6%;
	width: 100%;
}

.LogoButtonsLayer{				/* Layer 6 and 7 */
	background-color: white;
	height: 7.8%;
	width: 100%;
}

.LocationInfoLayer{				/* Layer 8 */
	background-color: white;
	height: 3.1%;
	width: 100%;
	background-color: #f2f2f2;
}

.FooterLayer{					/* Layer 9 */
	background-color: white;
	height: 2.5%;
	width: 100%;
}

/*************** Layer 1 Left Bar **************/

.LeftBarOdd, .GoogleLogoButtonTop{
	height: 100%;
	width: 5%;
	background-color: yellow;
	margin: 0;
	display: inline-block;
	float: left;
	position: relative;
	
}

.GoogleLogoButtonTop{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
}

.GoogleLogoButtonTop a{
    margin-top: 10px;
}

/*************** Layer 1 Mid Bar **************/



.SearchBar input{
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-family: Verdana, Courier;
}

.SearchBar{
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	width: 580px;
	height: 32px;
	position: absolute;
	display: inline-block;
}

.SearchButton{
	position: absolute;
	display: inline-block;
	margin-left: 586px;
	height: 34px;
	width: 33px;
	margin-top: 10px;
}

/*************** Layer 1 Right Bar **************/

.RightBarOdd, .NavIcons, .RightBarEmpty{
	height: 100%;
	width: 8%;
	margin: 0;
	display: inline-block;
	float: right;
}

.EmptyIcon, .MoreIcon, .NotifIcon, .BehdadIcon{
	display: inline-block;
	position: absolute;
	margin-top:  5px;
}

.EmptyIcon{
	margin-left: 5px;
}
.MoreIcon{
	margin-left: 55px;
}
.NotifIcon{
	margin-left: 105px;
}
.BehdadIcon{
	margin-left: 155px;
}

/*************** Layer 2 Left Bar **************/


.LeftBarEven, .LeftBarEmpty{
	height: 100%;
	width: 5%;
	background-color: orange;
	margin: 0;
	display: inline-block;
	float: left;
	position: relative;
}

/*************** Layer 2 Mid Bar **************/

.SearchFilterBar{
	height: 100%;
	width: 87%;
	background-color: white;
	margin: 0;
	display: inline-block;
}

.SearchFilterButtonsAll, .SearchFilterButtonsVideos, .SearchFilterButtonsNews, .SearchFilterButtonsShopping, .SearchFilterButtonsMaps, .SearchFilterButtonsMore, .SearchFilterButtonsTools{
	margin-top: 24px;
	position: absolute;
	font-family: Arial;
	font-size: 13px;
	padding: 0;
	width: 80px;
}

.SearchFilterBar a{
	text-decoration: none;
	color: #777;
}

.SearchFilterBar a:hover{
	text-decoration: none;
	color: black;
}

.SearchFilterButtonsAll a{
	color: #4285f4;
	font-weight: bold;
}

.SearchFilterButtonsAll a:hover{
	color: #4285f4;
	font-weight: bold;
}

.SearchFilterButtonsAll{
	margin-left: 0px;
	height: 33px;
	border-bottom : 3px #4285f4 solid;
	width: 23px;
	padding-left: 10px;
}

.SearchFilterButtonsVideos{
	margin-left: 70px;
}
.SearchFilterButtonsNews{
	margin-left: 150px;
}
.SearchFilterButtonsShopping{
	margin-left: 220px;
}
.SearchFilterButtonsMaps{
	margin-left: 310px;
}
.SearchFilterButtonsMore{
	margin-left: 380px;
}
.SearchFilterButtonsTools{
	margin-left: 445px;
	width: 85px;
	padding-left: 10px;
	height: 25px;
	padding-top: 9px;
	margin-top: 15.5px;
}

.SearchFilterButtonsTools:hover{
	background-color: #f8f8f8;
	border-radius: 3px;
	border : 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.SearchFilterButtonsTools a:hover{
	color: #777;
}

.LeftBarEmpty{
	background-color: white;
}

.LeftBarEmptyWBorder{
	border-bottom : 1px solid #ebebeb;
	height: 99%;
}

/*************** Layer 2 Right Bar *************/

.RightBarEven, .SearchFilterIcons{
	height: 100%;
	width: 8%;
	background-color: green;
	margin: 0;
	display: inline-block;
	float: right;
}

.SearchFilterIcons{
	background-color: white;
}

.PrivateIcon, .GlobalIcon, .SettingIcon{
	display: inline-block;
	position: absolute;
	margin-top:  15px;
}

.PrivateIcon{
	margin-left: 10px;
}
.GlobalIcon{
	margin-left: 53px;
}
.SettingIcon{
	margin-left: 119px;
}

/*************** Layer 3 Mid Bar *************/


.MidBarOdd, .ResultStatLine, .RelatedSearches{
	height: 100%;
	width: 87%;
	background-color: beige;
	margin: 0;
	display: inline-block;
}

.ResultStatLine{
	margin-top: 0;
	background-color: white;
	font-family: Arial;
	font-size: 13px;
	color: #777;
	display: inline-block;
}

.ResultStatLine p{
	padding-left: 12px;
}

/*************** Layer 3 Right Bar *************/

.RightBarEmpty{
	background-color: white;
}

/*************** Layer 4 Mid Bar *************/

.SearchResult{
	color: #1a0dab;
	font-family: arial,sans-serif;
	font-size: 18px;
	padding-left: 14px;
	margin: 8px 2px 2px 2px;
	text-decoration: none;
}

.SearchResult:hover{
	text-decoration: underline;
}

.SearchLink{
	color: #006621;
	font-family: arial,sans-serif; 
	font-size: 14px;
	padding-left: 14px;
	margin: 2px 2px 2px 2px;
}

.SearchInfo{
	color : #545454;
	font-family: arial,sans-serif;
	font-size: small;
	width: 600px;
	padding-left: 14px;
	margin: 3px 3px 22px 2px;
	line-height: 17px;
}

.MidBarEven, .ResultList, .GoogleButtons{
	height: 100%;
	width: 87%;
	background-color: red;
	display: inline-block;
}

.GoogleButtons{
	background-color: white;
}

.ResultList{
	background-color: white;
}

.SearchLink a{
	color : #777;
	text-decoration: none;
}


.RelatedSearches{
	background-color: white;
	border-top: 1px rgba(0,0,0,0.07) solid;
	border-bottom: 1px rgba(0,0,0,0.07) solid;
	margin-top: 15px;
	width: 600px;
	margin-left: 10px;
}

.RelatedSearchesHeading{
	font-size: 18px;
	color: #808080;
	font-family: arial,sans-serif;
	padding-top: 1px;
	padding-left: 1px;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.RelatedLinks{
	text-decoration: none;
	color: #1a0dab;
	font-size: 13px;
	font-family: arial,sans-serif;
	padding-left: 10px;
	line-height: 10px;
	display: inline-block;
	margin : 5px;
}

.RelatedLinks:hover{
	text-decoration: underline;
}

ul{
	column-count : 2;
	column-gap: 8px;
	margin-top: 5px;
	padding: 0;
}

.GoogleO, .GoogleORed, .GoogleO10{
	border : 4px #f4c242 solid;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 35px;
}

.GoogleORed{
	border : 4px #f44242 solid;
	margin-left: 180px;
}

.NumberButtons, .NumberButtons10{
	position: relative;
	width: 10px;
	height: 20px;
	margin: 30px 0 0 2px;
	font-family: arial, sans-serif;
	font-size: small;
	color: #4285f4;
}

.NumberButtons a{
	text-decoration: none;
}

.NumberButtons10:hover a:hover{
	text-decoration: underline;
}

.GoogleO:hover a, .GoogleORed:hover a{
	text-decoration: underline;
}

.NumberButtons10 a{
	text-decoration: none;
}
.NumberButtons10{
	margin: 30px 0 0 0px;
}

