*{
	margin: 0;
	padding: 0;
}

div{
	display: inline-block;
}

.Container{
	display: block;
}

.SearchBarLayer{
	background-color: #f2f2f2;
	height: 60px;
	display: block;
	border-bottom : 1px solid rgb(229, 229, 229);
}

.GoogleLogoButtonTop img{
	margin-left: 15px;
	margin-top: 15px;
	display: inline-block;
}

.SearchBar, .SearchButton{
	position: absolute;
}

.SearchBar{
	margin-left: 20px;
	margin-top: 10px;

}

.SearchBar input{
	font-size: 20px;
	font-family: arial, sans-serif;
	width: 580px;
	height: 35px;
	padding-left: 10px;
}


.SearchButton{
	margin-left: 614px;
	margin-top: 10px;
}


.NavIcons{
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

.SearchFilterLayer{				/* Layer 2 */
	border-bottom : 1px solid #ebebeb;
	display: block;
	height: 65px;
}

.SearchFilterBar{
	float: left;
	margin-left: 130px;
	margin-top: 14px;
	margin-right: 10px;
}

.SearchFilterBar a{
	text-decoration: none;
	color: #777;
}

.SearchFilterBar a:hover{
	text-decoration: none;
	color: black;
}

.SearchFilterButtonsAll a{
	color: #4285f4;
	font-weight: bold;
}

.SearchFilterButtonsAll a:hover{
	color: #4285f4;
	font-weight: bold;
}

.SearchFilterButtonsVideos{
	margin-left: 70px;
}
.SearchFilterButtonsNews{
	margin-left: 150px;
}
.SearchFilterButtonsShopping{
	margin-left: 220px;
}
.SearchFilterButtonsMaps{
	margin-left: 310px;
}
.SearchFilterButtonsMore{
	margin-left: 380px;
}

.SearchFilterButtonsAll, .SearchFilterButtonsVideos, .SearchFilterButtonsNews, .SearchFilterButtonsShopping, .SearchFilterButtonsMaps, .SearchFilterButtonsMore, .SearchFilterButtonsTools{
	margin-top: 12px;
	position: absolute;
	font-family: Arial;
	font-size: 13px;
	padding: 0;
	width: 80px;
}

.SearchFilterButtonsTools{
	margin-left: 445px;
	width: 85px;
	padding-left: 10px;
	height: 25px;
	padding-top: 9px;
	margin-top: 3px;
}

.SearchFilterButtonsTools:hover{
	background-color: #f8f8f8;
	border-radius: 3px;
	border : 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.SearchFilterButtonsTools a:hover{
	color: #777;
}


.SearchFilterIcons{
	margin-right: 30px;
	display: inline-block;
	float: right;
}

.SearchFilterIcons{
	background-color: white;
	margin-left: 10px;
}

.SearchFilterButtonsAll{
	margin-left: 10px;
}

.SearchFilterButtonsAll{
	margin-left: 0px;
	height: 36px;
	border-bottom : 3px #4285f4 solid;
	width: 25px;
	padding-left: 10px;
}

.PrivateIcon{
	width: 38px;
}

.GlobalIcon{
	width: 38px;
	margin-right: 20px;
}

.SettingIcon{
	margin-top: 17px;
}

.SearchStatLayer{				/* Layer 3 */
	background-color: white;
	min-height: 30px;
	display: block;
}

.ResultStatLine{
	display: inline-block;
	background-color: white;
	font-family: Arial;
	font-size: 13px;
	color: #777;
	margin-top: 13px;
	margin-left: 130px;
}

.ResultStatLine p{
	padding-left: 12px;
}

.ResultListLayer{
	margin-left: 145px;
	margin-top: 20px;
}

.SearchResult{
	color: #1a0dab;
	font-family: arial,sans-serif;
	font-size: 18px;
	padding-left: 14px;
	margin: 8px 2px 2px 2px;
	text-decoration: none;
}

.SearchResult:hover{
	text-decoration: underline;
}

.SearchLink{
	color: #006621;
	font-family: arial,sans-serif; 
	font-size: 14px;
	padding-left: 14px;
	margin: 2px 2px 2px 2px;
}

.SearchInfo{
	color : #545454;
	font-family: arial,sans-serif;
	font-size: small;
	width: 600px;
	padding-left: 14px;
	margin: 3px 3px 22px 2px;
	line-height: 17px;
}

.RelatedSearchLayer{
	display: block;
}

.RelatedSearches{
	background-color: white;
	border-top: 1px rgba(0,0,0,0.07) solid;
	border-bottom: 1px rgba(0,0,0,0.07) solid;
	margin-top: 15px;
	width: 600px;
	margin-left: 150px;
}

.RelatedSearchesHeading{
	font-size: 18px;
	color: #808080;
	font-family: arial,sans-serif;
	padding-top: 1px;
	padding-left: 1px;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.RelatedLinks{
	text-decoration: none;
	color: #1a0dab;
	font-size: 13px;
	font-family: arial,sans-serif;
	padding-left: 10px;
	line-height: 10px;
	display: inline-block;
	margin : 5px;
}

.RelatedLinks:hover{
	text-decoration: underline;
}

.RelatedSearches ul{
	column-count : 2;
	column-gap: 8px;
	margin-top: 5px;
	padding: 0;
	list-style-type:none;
	margin-bottom: 25px;
}

.GoogleButtons{
	margin-left: 190px;
}

.GoogleO, .GoogleORed, .GoogleO10{
	border : 4px #f4c242 solid;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 40px;
}

.GoogleO10{
	margin-left: 1px;
}

.GoogleORed{
	border : 4px #f44242 solid;
	/*margin-left: 180px;*/
}

.OButtons{
	margin-left: 100px;
	display: inline-block;
	padding :0;
}

.NoButtonImage{
	position: absolute;
	margin: 27px 0px 0px 60px;
}

.NumberButtons, .NumberButtons10{
	width: 10px;
	height: 20px;
	margin: 26px 0 0 0px;
	padding-left: 1px;
	font-family: arial, sans-serif;
	font-size: small;
	color: #4285f4;
}

.NumberButtons a{
	text-decoration: none;
}

.NumberButtons10:hover a:hover{
	text-decoration: underline;
}

.GoogleO:hover a, .GoogleORed:hover a{
	text-decoration: underline;
}

.NumberButtons10 a{
	text-decoration: none;
}
.NumberButtons10{
	margin: 26px 0 0 0px;
	padding-left: 0px;
}

.ButtonImage{
	position: relative;
	top : 4px;
	right: 2px;
}

.LocationInfoLayer{
	background-color: #f2f2f2;
	height: 60px;
	display: block;
	margin-top: 30px;
	border-top : 1px solid rgb(229, 229, 229);
}

.LocationInfoLayer{
	padding-left: 150px;
	padding-top: 30px;
	font-family: arial,sans-serif;
	font-size: small;
	color: #aaa;
}
.LocationButton a{
	color: #777;
	text-decoration: none;
}

.LocationButton a:hover{
	color: #333;
}

.FooterButtons{
	color: #777;
	font-family: arial,sans-serif;
	font-size: small;
	margin-right: 25px;
	margin-top: 5px;
}

.LocationCircle{
	background: #9e9e9e;
	border-radius: 100%;
	height: 10px;
	width: 10px;
	border : 1px #9e9e9e solid;
}